.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Gill Sans", sans-serif;
      -fx-font-weight: bold;
  }
 .text{
             -fx-font-size: 16px;
             -fx-font-family: "Gill Sans", sans-serif;

         }

 .text-right{
             -fx-font-size: 16px;
             -fx-font-family: "Gill Sans", sans-serif;
               -fx-text-align:CENTER-RIGHT;
         }

.button{
    -fx-background-radius: 5em;

}

.button-add-to-cart{
    -fx-background-radius: 5em;
     -fx-border: 0;

     -fx-box-shadow: none;
     -fx-border-radius: 1px;
     -fx-background-color: #ff0000;
     -fx-text-fill: #ffffff;
}

.button-add-to-cart:hover{
    -fx-background-radius: 5em;
     -fx-border: 0;

     -fx-box-shadow: none;
     -fx-border-radius: 1px;
     -fx-background-color: #ff3030;
     -fx-text-fill: #ffffff;
}
.button-modify-add-to-cart{
     -fx-background-radius: 5em;
     /*-fx-max-height: 50px;
    -fx-min-height: 50px;*/
     -fx-border: 0;
     -fx-background:none;

     -fx-box-shadow: none;
     -fx-border-radius: 5em;
     -fx-border-color: #79747E;


}

.button-modify-add-to-cart:hover{
    /*-fx-max-height: 50px;
    -fx-min-height: 50px;*/

    -fx-background-radius: 5em;
     -fx-border: 0;
     -fx-background:none;

     -fx-box-shadow: none;
     -fx-border-radius: 5em;
     -fx-border-color: #79747E;
     -fx-background-color: #04040430;

}

.product-add-to-card-background{
    -fx-background-radius: 5em;
     -fx-border: 0;

     -fx-box-shadow: none;
     -fx-border-radius: 1px;
     -fx-background-color: #ff0000;
}

.start-button{
    -fx-background-radius: 4em;
    -fx-border-radius:4em;
    -fx-background:none;
    -fx-border-color: #79747E;
    -fx-background-color: #E7E6E8;
    -fx-border-width:5px;
}

.invisible-button{
    -fx-background:none;
    -fx-focus-background:none;
    -fx-focus-color: #FFFFFF00;
}

.invisible-button:pressed{
    -fx-background-color:#04040490;
}

.invisible-button:focused {
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    /*-fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-focus-color: transparent;*/
    -fx-background-insets: 0, 0, 1, 2;
}

.invisible-button:hover{
    -fx-background:none;
    -fx-background-color:#04040430;
}
.start-button:hover {
    -fx-background-color:#dae7f3;
}

.toolbar-search{
    -fx-background-radius:4em;
    -fx-border_width:0px;
    -fx-text-box-border: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
}

.button-category{
    -fx-background-radius:2px;
    -fx-background-color: #dac1c9;
    -fx-text-align:center;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.button-category:hover{
    -fx-background-radius:2px;
    -fx-background-color: #b19faf;
    -fx-align:CENTER;
}

.previous-purchase-card{
-fx-background-color:#FFFFFF;
-fx-background-radius: 1em;
}

.previous-purchase-card:hover{
-fx-background-color:#DDDDDD;
}

.cart-button{

-fx-background-color:#FF0000;
}

.cart-button:hover{

-fx-background-color:#DD0000;
}