.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Gill Sans", sans-serif;
      -fx-font-weight: bold;
  }
 .text{
             -fx-font-size: 16px;
             -fx-font-family: "Gill Sans", sans-serif;

         }

.button{
    -fx-background-radius: 5em;

}

.button-add-to-cart{
    -fx-background-radius: 5em;
     -fx-border: 0;

     -fx-box-shadow: none;
     -fx-border-radius: 1px;
     -fx-background-color: #ff0000;
     -fx-text-fill: #ffffff;
}
.button-modify-add-to-cart{
    -fx-background-radius: 5em;
     -fx-border: 0;
     -fx-background:none;

     -fx-box-shadow: none;
     -fx-border-radius: 5em;
     -fx-border-color: #79747E;


}

.product-add-to-card-background{
    -fx-background-radius: 5em;
     -fx-border: 0;

     -fx-box-shadow: none;
     -fx-border-radius: 1px;
     -fx-background-color: #ff0000;
}

.start-button{
    -fx-background-radius: 4em;
    -fx-border-radius:4em;
    -fx-background:none;
    -fx-border-color: #79747E;
    -fx-border-width:5px;
}

.invisible-button{
    -fx-background:node;
}